<ul>
    <%= @patient.appointments.each do |i| %>
        <li><%= link_to i.doctor.name, doctor_path(i.doctor) %></li>
        <li><%= "#{i.appointment_datetime.strftime("%B %e, %Y")} at #{i.appointment_datetime.strftime("%H:%M")}" %></li>
    <% end %>
</ul>