<h1> Doctor's Appointments </h1><br>
<p> Appointment: <%= @appointments.appointment_datetime.to_datetime.strftime('%B %d, %Y at %R') %> </p> <br>
<p> Patient: <%= link_to @patients.name, patients_path %> 