<% @doctor.appointments.each do |appointment| %>
    <h2><%= link_to appointment.patient.name, patient_path(appointment.patient_id)%></h2>
    <p><%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M %p") %></p>
<%end%>